{% extends "layout.html" %} {% block title %}2FA Challenge{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block header %}2FA Request for {{ username }} {% endblock %} 
{% block content %}
<div style="margin: auto; width: 50%">
  <h1 style="text-align: center"></h1>
  <div style="margin: auto; width: 100%">
    <form action="2FASubmit" method="POST">
      <input type="hidden" name="scope" value="{{ scope }}" />
      {{ message }}<br />
      2FA Code: <input type="text" name="code" id="code" autofocus /><br />
      <button onClick="submitCode()">Submit Code</button>
    </form>
  </div>
</div>
{% endblock %}
