{% extends "layout.html" %} {% block title %}Login Page{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block header %}Simple Login Website {%
endblock %} {% block content %}
<div style="margin: auto; width: 50%; padding: 10px">
  <div style="margin: auto; width: 100%; margin: 10px">
    <form action="submitLogin" method="POST">
      Username:
      <input type="text" name="username" id="username" autofocus /><br /><br />
      Password: None - we use 2FA instead of passwords!<br /><br />
      <button>Login</button>
    </form>
  </div>
</div>
{% endblock %}
